<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Disable Viewport Zoom-->
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

  <title>Tadoo</title>

  <!-- Font families -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Local stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/new_todo.css" type="text/css" />
  <link rel="stylesheet" href="/styles/lists.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/list_rendering.js"></script>
  <script type="text/javascript" src="/scripts/list_collapse.js"></script>
  <script type="text/javascript" src="/scripts/login.js"></script>
</head>

<body>
  <!-- Top navbar (fixed) -->
    <nav>
      <span id="left-nav" class="title">tAdoo</span>
      <div id="right-nav" class="title">
        <% if (isActive === true && userId !== undefined) {%>
          <button class="nav-buttons nav-button" id="new">new</button>
          <button class="nav-buttons nav-button selected" id="current">current</button>
          <button class="nav-buttons nav-button" id="archived">archived</button>
        <% } else if (isActive === false && userId !== undefined) {%>
          <button class="nav-buttons nav-button" id="current">current</button>
          <button class="nav-buttons nav-button selected" id="archived">archived</button>
        <% } else {%>
            <button class="nav-buttons nav-button" id="register">register</button>
        <% };%>
      </div>
    </nav>

  <!-- Header (profile avatar and name) -->
  <header id="main-header">
    <% if (userId === '1') {%>
      <h2 class="username">Jim Dumpling</h2>
      <img class="username"src="/images/dumpling.png" />
    <% } else if (userId === '2') {%>
      <h2 class="username">bob Mango</h2>
      <img class="username"src="/images/mango.png" />
    <% } else {%>
      <h2 >welcome to tAdoo!</h2>
      <img src="/images/computer.png" />
    <% };%>
  </header>

  <!-- Main content -->
  <main class="container">
    <% if (userId !== undefined) {%>
    <!-- Compose new task -->
    <section class="new-item">
      <h2>enter new to-do</h2>
      <form id="form" class="form-new-to-do">
        <input id="todo-text" name="text" maxlength="25"></input>
        <div class="footer">
          <button class="button" id="submit-button">Tadoo!</button>
        </div>
      </form>
    </section>

    <!-- Lists section -->
    <section id="list-section">
      <!-- Watch -->
      <h2 class="list-header to-watch">watch</h2>
      <div class="list-container to-watch" id="to-watch">
        <article class="list">
          <header>
            <span>To-Do</span>
            <span id="rating-header">Urgency</span>
          </header>

          <div id="1-body" class="todo-body">

            <ol id="1-items" class="todo-items"></ol>

            <ul id="1-ratings"class='ratings'></ul>

            <ul id="1-delete" class='delete-buttons'></ul>

            <ul id="1-move" class='move-buttons'></ul>

          </div>

        </article>
      </div>

      <!-- Read -->
      <h2 class="list-header to-read">read</h2>
      <div class="list-container to-read" id="to-read">
        <article class="list">

          <header>
            <span>To-Do</span>
            <span id="rating-header">Urgency</span>
          </header>

          <div id="2-body" class="todo-body">

            <ol id="2-items" class="todo-items"></ol>

            <ul id="2-ratings" class='ratings'></ul>

            <ul id="2-delete" class='delete-buttons'></ul>

            <ul id="2-move" class='move-buttons'></ul>

          </div>

        </article>
      </div>

      <!-- Eat -->
      <h2 class="list-header to-eat">eat</h2>
      <div class="list-container to-eat" id="to-eat">
        <article class="list">
          <header>
            <span>To-Do</span>
            <span id="rating-header">Urgency</span>
          </header>

          <div id="3-body" class="todo-body">

            <ol id="3-items" class="todo-items"></ol>

            <ul id="3-ratings" class='ratings'></ul>

            <ul id="3-delete" class='delete-buttons'></ul>

            <ul id="3-move" class='move-buttons'></ul>

          </div>

        </article>
      </div>

      <!-- Buy -->
      <h2 class="list-header to-buy">buy</h2>
      <div class="list-container to-buy" id="to-buy">
        <article class="list">
          <header>
            <span>To-Do</span>
            <span id="rating-header">Urgency</span>
          </header>

          <div id="4-body" class="todo-body">

            <ol id="4-items" class="todo-items"></ol>

            <ul id="4-ratings" class='ratings'></ul>

            <ul id="4-delete" class='delete-buttons'></ul>

            <ul id="4-move" class='move-buttons'></ul>

          </div>

        </article>
      </div>

    </section>

    <% } else {%>
      <section id="login-container">
        <h2>please log in</h2>
        <form id="login-form">
          <input class="login-text-area" id="username-text" name="username" placeholder="username"></input>
          <input type="password" class="login-text-area" id="password-text" name="password" placeholder="password"></input>
          <button for="username" class="button" class="login-button">Log in!</button>
        </form>
      </section>
    <% };%>

  </main>

</body>

</html>
