<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new_todo.css" type="text/css" />
    <link rel="stylesheet" href="/styles/lists.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- disable viewport zoom-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
  </head>

  <body>
    <nav>
      <span id="left-nav" class="title">Smart-To-Do</span>
      <div id="right-nav" class="title">
        <span id="current">Current</span>
        <span id="archived">Archived</span>
      </div>
    </nav>

    <header id="main-header">
      <div>
          <h2 class="shadow">Some User</h2>
      </div>
      <div>
        <img class="shadow" src="/images/profile-user.png" />
    </div>
    </header>

    <main class="container">

      <section class="new-item">
        <h2>Enter New To-Do</h2>
        <form id="form">
          <textarea name="text"></textarea>
          <div class="footer">
            <button >Submit</button>
          </div>
        </form>
      </section>


      <section id="c">
        <h2 class="temp">To Read</h2>
        <h2>To Watch</h2>
        <article class="tweet">
          <header>
            <span>To-Do</span>
            <span id="rating">Rating</span>
          </header>
          <ol>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Cowboy Bebop</label>
            </li>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Jurrasic Park</label>
            </li>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Flubber</label>
            </li>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Spiderman: Into the Spider-Verse</label>
            </li>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Spiderman: Into the Spider-Verse</label>
            </li>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Spiderman: Into the Spider-Verse</label>
            </li>
            <li>
              <input type="checkbox" id="cb1" name="op1">
              <label for="cb1">Spiderman: Into the Spider-Verse</label>
            </li>
          </ol>
        </article>
        <h2 class="temp">To Eat</h2>
        <h2 class="temp">To Buy</h2>
      </section>

    </main>

  </body>
</html>
