<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Disable Viewport Zoom-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>Tadoo List</title>

    <!-- Font families -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Local stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new_todo.css" type="text/css" />
    <link rel="stylesheet" href="/styles/lists.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/list_rendering.js"></script>
    <script type="text/javascript" src="/scripts/list_collapse.js"></script>
  </head>

  <body>
    <!-- Top navbar (fixed) -->
    <nav>
      <span id="left-nav" class="title">tAdoo</span>
      <div id="right-nav" class="title">
        <% if (isActive === true) {%>
          <button class="nav-buttons nav-button" id="new">new</button>
        <% };%>
        <button class="nav-buttons nav-button" id="current">active</button>
        <button class="nav-buttons nav-button selected" id="archived">archive</button>
      </div>
    </nav>

    <!-- Header (profile avatar and name) -->
    <header id="main-header">
      <% if (userId === '1') {%>
        <h2 class="shadow">Jim Dumpling</h2>
        <img class="shadow" src="/images/dumpling.png" />
      <% } else {%>
        <h2 class="shadow">Bob Mango</h2>
        <img class="shadow" src="/images/mango.png" />
      <% };%>
    </header>

    <!-- Main content -->
    <main class="container">
      <!-- Compose new task -->
      <section class="new-item">
        <h2>Enter New TAdoo</h2>
        <form id="form" class = "form-new-to-do">
          <textarea id="todo-text" name="text"></textarea>
          <div class="footer">
            <button class="button" id="submit-button">Submit</button>
          </div>
        </form>
      </section>

      <!-- Lists section -->
      <section id="list-section">
        <!-- Todo category template -->
        <div>
          <header>
            <h2>header</h2>
          </header>

          <div class="table">
            <div class="tr th">
              <div class="td-checkbox">
                <div class="td">?</div>
              </div>
              <div class="td-task">
                <div class="td">item</div>
              </div>
              <div class="td-urgency">
                <div class="td">urgency</div>
              </div>
              <div class="td-move-delete">
                <div class="td"></div>
                <div class="td"></div>
              </div>
            </div>
            <div class="tr th">
              <div class="td-checkbox">
                <div class="td">?</div>
              </div>
              <div class="td-task">
                <div class="td">task task task task</div>
              </div>
              <div class="td-urgency">
                <div class="td">5 stars</div>
              </div>
              <div class="td-move-delete">
                <div class="td">move</div>
                <div class="td">delete</div>
              </div>
            </div>
            <!-- <div class="tr">
              <div class="td td-checkbox">X</div>
              <div class="td td-task"><span>task task task task</span></div>
              <div class="td td-urgency">5 stars</div>
              <div class="td td-move">move</div>
              <div class="td td-delete">delete</div>
            </div> -->
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
