<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Disable Viewport Zoom-->
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

    <title>Tadoo</title>

    <!-- Font families -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Local stylesheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new_todo.css" type="text/css" />
    <link rel="stylesheet" href="/styles/lists.css" type="text/css" />
    <link rel="stylesheet" href="/styles/login.css" type="text/css" />

    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
    <script type="text/javascript" src="/scripts/create_list_category.js"></script>
    <script type="text/javascript" src="/scripts/create_list_item.js"></script>
    <script type="text/javascript" src="/scripts/list_collapse.js"></script>
    <script type="text/javascript" src="/scripts/list_rendering.js"></script>
    <script type="text/javascript" src="/scripts/modify_task.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/new_task_form.js"></script>
  </head>

  <body>
    <!-- Top navbar (fixed) -->
    <nav>
      <span id="left-nav" class="title">tAdoo</span>
      <div id="right-nav" class="title">
        <% if (isActive === true && userId !== undefined) {%>
          <button class="nav-buttons nav-button" id="new">new</button>
          <button class="nav-buttons nav-button selected" id="current">current</button>
          <button class="nav-buttons nav-button" id="archived">archived</button>
        <% } else if (isActive === false && userId !== undefined) {%>
          <button class="nav-buttons nav-button" id="current">current</button>
          <button class="nav-buttons nav-button selected" id="archived">archived</button>
        <% } else {%>
            <button class="nav-buttons nav-button" id="register">register</button>
        <% };%>
      </div>
    </nav>


    <!-- Header (profile avatar and name) -->
    <header id="main-header">
      <% if (userId === '1') {%>
        <h2 class="pointer logout">jim dumpling</h2>
        <img class="pointer logout" src="/images/dumpling.png" />
      <% } else if (userId === '2') {%>
        <h2 class="pointer logout">bob Mango</h2>
        <img class="pointer logout"src="/images/mango.png" />
      <% } else {%>
        <h2 >welcome to tAdoo!</h2>
        <img src="/images/computer.png" />
      <% };%>
    </header>

    <!-- Main content -->
    <main class="container">
      <% if (userId !== undefined) {%>
        <!-- Compose new task -->
        <section class="new-item">
          <h2>enter new tAdoo</h2>
          <form id="form" class = "form-new-to-do">
            <input class="text-entry" id="todo-text" name="text">
            <div class="footer">
              <button class="button" id="submit-button">submit</button>
            </div>
          </form>
        </section>

        <!-- Lists section -->
        <section id="list-section">
          <div id="cat-1"></div>
          <div id="cat-2"></div>
          <div id="cat-3"></div>
          <div id="cat-4"></div>
        </section>

      <% } else {%>
        <section id="login-container">
          <h2>please log in</h2>
          <form id="login-form">
            <input class="login-text-area text-entry" id="username-text" name="username" placeholder="username"></input>
            <input type="password" class="login-text-area text-entry" id="password-text" name="password" placeholder="password"></input>
            <button for="username" class="button" class="login-button">log in</button>
          </form>
        </section>
      <% };%>
    </main>
    <footer>
      made by taking regular breaks and maintaining excellent posture<br>by trickcomplete
    </footer>
  </body>
</html>
