#main-header {
  padding-top: 80px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D3163B;
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
  color: #FFFF;
  font-family: 'Major Mono Display';
  justify-content: space-evenly;
}
