html {
  overflow-y: scroll;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Major Mono Display', sans-serif;
}

// nav, h2 {
//   font-family: 'Major Mono Display';
// }

main {
  display: flex;
  justify-content: center;
  background-color: #f4f1ec;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

footer {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 70px;
  font-size: small;;
}

.small-text {
  font-family: 'Roboto', sans-serif;
}

.move-div {
  display: inline;
  margin-bottom: 10px;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 colorscheme:
 black: #000000
 ink: #062F4F
 posy: #813772
 embers: #B82601
 */
