.table {
  display: flex;
  flex-flow: column nowrap;
  margin: 0.5rem;
  font-size: .6em;
  line-height: 1;
  border-bottom: 1px solid #d0d0d0;
  flex: 1 1 auto;
  font-family: 'Major Mono Display';
}

.th {
  line-height: 2.5;
  font-size: 1.3em;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 8;
  flex-basis: 0;
  padding: 0.2em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
  justify-content: center;
}

.td-checkbox {
  flex-grow: 1;
}

.td-task {
  flex-grow: 25;
  justify-content: left;
}

.td-move {
  flex-grow: 20;
}



.ratings {
  margin-left: 100px;
}

.delete-buttons {
  margin-left: 25px;
}

#rating-header {
  margin-left: 255px;
}

.list-header {
  border-bottom: 1px dotted lightgrey;
  padding-bottom: 10px;
  font-size: 40px;
}

.todo-body {
  display: flex;
  flex-direction: row;
}

.button {
  color: #FFFF;
  background-color: #B82601;
  box-shadow: 2px 2px 5px #c1c1c1;
  border-radius: 3px;
  padding: 5px;
}

.move {
  background-color: #813772;
}

.button:active {
  background: #e5e5e5;
  box-shadow: inset 10px 10px 5px #c1c1c1;
}

form .delete-btn {
  width: 100%;
}

// //all css below is for the rating stars
// .rating {
//   unicode-bidi: bidi-override;
//   direction: rtl;
// }
// .rating > span {
//   display: inline-block;
//   position: relative;
//   width: 1.1em;
// }
// .rating > span:hover:before,
// .rating > span:hover ~ span:before {
//    content: "\2605";
//    position: absolute;
// }

.rating-stars {
  position: relative;
  display: inline-block;
  margin-left: -100px;
  height: 15px;
  bottom: 15px;
}

.rating-stars:not(:checked) > input {
  position:absolute;
  top: auto;
  left: -9999px;
}

.rating-stars:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}

.rating-stars:not(:checked) > label:before {
  content: '★ ';
}

.rating-stars > input:checked ~ label {
  color: #ffc700;
}
.rating-stars:not(:checked) > label:hover,
.rating-stars:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rating-stars > input:checked + label:hover,
.rating-stars > input:checked + label:hover ~ label,
.rating-stars > input:checked ~ label:hover,
.rating-stars > input:checked ~ label:hover ~ label,
.rating-stars > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

//
.strike_out {
  text-decoration: line-through;
  color: grey;
}

span.move-buttons {
  position: relative;
  left: 100px;
  bottom: 35px;
}
form.move-button {
  display: inline;
  margin-right: 20px;
}

.hide-move {
  display: none;
}

.task-row {
  height: 45px;
}

.group-a {
  padding-top: 1.2%;
}

.group-b {
  padding-top: 0.6%
}

.th {
  font-weight: bolder;
}

