/*
 * Styling for nav bar
 */
 nav {
  height: 120px;
  background-color: #F09516;
  color: #FFFF;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 2em;
  font-family: 'Righteous', cursive
}

#right-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  align-self: end;
  font-size: 27px;
}

#left-nav {
  font-size: xx-large;
}

#archived {
  margin-left: 20px;
}



/* #up-toggle {
  position: fixed;
  bottom: 0;
  margin-bottom: 14px;
  margin-left: 90%;
} */
