

 .new-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.text-entry {
  font-size: 1em;
  background-color: inherit;
  border: none;
  border-bottom: 3px solid black;
  padding-top: 15px;
  padding: 10px;
  width: 600px;
}

form .form-new-to-do {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-weight: 600
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}

form div.footer button {
  color: #FFFF;
  background-color: #062F4F;
  box-shadow: 5px 5px 5px #c1c1c1;
}

form div.footer button:active {
  background: #e5e5e5;
}

.text-entry:focus {
  outline: none;
}
